// 背景图片
bg-image($url)
  background-image: url($url + ".png")
  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio:2)
    background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

// 不换行  显示...隐藏
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 换行
wrap()
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;

// 1px 问题
border-1px($color) {
    position: relative;
    &:after{
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $color;
        content: ' ';
    }
}
jj-container($height){
    width:100%;
    height:$height;
}
// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

// 判断在不同dpr下的显示情况
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .border-1px{
        &::after{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    .border-1px{
        &::after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}

